body {
  background-image: url("../img/haltestelle-dithered.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

.textbox {
  width: 80wv;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
