@font-face {
  font-family: ms-sans-serif-regular;
  src: url(../font/ms-sans-serif-regular.ttf);
}

body {
  background-image: url("../img/haltestelle-dithered.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-1 {
  padding: 160px 0 20px 0;
}

.textbox {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.66);
}

.textbox p {
  color: rgba(255, 255, 255, 1.0);
  font-family: ms-sans-serif-regular;
  font-size: 11pt;
  line-height: 120%;
  padding: 10px;
}

.button-weiter {
  width: 80px;
  height: 25px;
  margin: 20px 0 200px 0;
  color: #FFFFFF;
  background-color: #255F38;
  border-right: solid 2px #18230F;
  border-bottom: solid 2px #18230F;
  border-top: solid 2px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  font-family: ms-sans-serif-regular;
  font-size: 11pt;
}

.settings {
  display: flex;
  flex-direction: row;
}

.settings button {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: auto;
}

.settings button img {
 
}