body {
  background-image: url("../img/haltestelle-dithered.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
}

.textbox {
  width: 300px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
